---
layout: default
title: Art Portfolio
description: Nicole Lun's projects in art and design
permalink: art-portfolio/
---

<div class="main-col page-header">
	<h1>Art Portfolio</h1>
</div>
<section id="portfolio">
    <!-- <div class="button-group filter-button-group">
        <button class="button is-checked" data-filter="*">All Projects</button>
        <button class="button" data-filter=".web">Web</button>
        <button class="button" data-filter=".motion">Video + Animation</button>
        <button class="button" data-filter=".print">Print</button>
        <button class="button" data-filter=".other">Other</button>
    </div> -->
    <!-- <div class="button-group filter-button-group">
        <button class="button is-checked" data-filter="*">All Projects</button>
        <button class="button" data-filter=".art">Art</button>
        <button class="button" data-filter=".design">Design</button>
    </div> -->
    <div class="grid">
        <div class="grid-sizer"></div>
        <div class="gutter-sizer"></div>
		
		{% assign projSequence = site.data.art-project-sequence %}

		<!-- loop through project sequence -->
		{% for item in projSequence %}

			<!-- find project in collection that matches current item in project sequence -->
			{% assign currentProj = site.art-portfolio | where: "keyname", item.keyname %}

			<!-- output project -->
			{% for project in currentProj %}
		        <div class="grid-item {% if project.featured == true %}grid-item--width2{% endif %} {{ project.discipline }}">
		            <a href="{{ project.url }}">
		                <figure>
		                    <img src="{{ project.url }}{{ project.thumbnail }}" alt="{{ project.title }}">
		                    <figcaption>
		                        <h2>{{ project.title }}</h2>
		                        <p>{{ project.short-description }}</p>
		                    </figcaption>
		                </figure>
		            </a>
		        </div>
			{% endfor %}
		{% endfor %}

    </div>
</section>

<script src="{{ '/js/filter.js' | relative_url }}"></script>
