---
layout: default
title: Commercial Portfolio
permalink: commercial-portfolio/
---

<div class="main-col page-header">
	<h1>Product Design</h1>
</div>  

<section>
	{% assign projSequence = site.data.commercial-project-grid %}

	<!-- loop through project sequence -->
	{% for item in projSequence %}

		<!-- find project in collection that matches current item in project sequence -->
		{% assign currentProj = site.commercial-portfolio | where: "keyname", item.keyname %}

		<!-- output project -->
		{% for project in currentProj %}
			<div class="commercial-item">
		        <div class="main-col commercial-item__content">
				    <div class="commercial-item__thumbnail-container">
				    	<a href="{{ project.url }}"><img src="{{ project.url }}{{ project.thumbnail }}"></a>
				    </div>
		        	<div class="commercial-item__copy-container">
		        		<p class="commercial-item__overline">{{ project.skills }}</p>
		        		<hr class="dash">
	                    <h2 class="commercial-item__title">{{ project.title }}</h2>
	                    <p>{{ project.short-description }}</p>
						<!-- {% if project.publish == true %} -->
		                    <p>
								<a class="learn-more" href="{{ project.url }}">View Project<span class="lg-right-arrow"></span></a>
					        </p>
						<!-- {% else %}
		                    <p>
								<strong><i>Details Coming Soon</i></strong>
							</p>
	                    {% endif %} -->
				    </div>
		        </div>
		    </div>
		{% endfor %}
	{% endfor %}
</section>

<!-- <div class="main-col prev-next-container">
	<div class="proj-controls">
		<a class="prev-project" href="#"></a>
		<a class="next-project" href="{{ site.url }}/art-portfolio/">
			See Art & Experimental Design<span class="lg-right-arrow"></span>
		</a>
	</div>
</div> -->
