<header id="main-header">
    <div id="identity">
        <a class="identity-title" href="{{ site.url }}">{{ site.title }}</a>
    </div>
    <img class="menu-btn" src="{{ site.url }}/img/if_menu-alt_134216.svg" />
    <nav id="main-nav">
        <!-- <a class="{% if page.url contains '/commercial-portfolio/' %}active{% endif %}" href="{{ site.url }}/commercial-portfolio/">Product Design</a> -->
        <!-- <a class="{% if page.url contains '/commercial-portfolio/' %}active{% endif %}" href="/commercial-portfolio/index_encrypted.html">Product Design</a> -->
        <!-- <a class="{% if page.url contains '/art-portfolio/' %}active{% endif %}" href="{{ site.url }}/art-portfolio/">Communication Design</a> -->
        <!-- <a class="{% if page.url contains '/art-portfolio/' %}active{% endif %}" href="/art-portfolio/">Communication Design</a> -->
        <a class="{% if page.url contains '/art-portfolio/' %}active{% endif %}" href="/art-portfolio/">Portfolio</a>
        <!-- <a class="{% if page.url contains '/contact/' %}active{% endif %}" href="{{ site.url }}/contact/">Contact</a> -->
        <a class="{% if page.url contains '/contact/' %}active{% endif %}" href="/contact/">Contact</a>
    </nav>
</header>

<script>
    $(".menu-btn").click(function(){
        $("#main-nav").toggle();
    });
</script>