/* ===================================================
    COMMERCIAL PROJECT LIST
=================================================== */

.commercial-item__content {
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 2rem;

    @media screen and (max-width: #{$break-med-min - 1px}) {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
}

.commercial-item:nth-child(even) {
    background-color: $gray-background;

    .commercial-item__content>*:last-child {
        @media screen and (min-width: $break-med-min) {
            order: -1;
        }
    }
}

.commercial-item__thumbnail-container {
    width: 100%;

    img {
        width: 100%;
        margin-bottom: 1em;
    }

    @media screen and (min-width: $break-med-min) {
        width: 50%;
    }
}

.commercial-item__copy-container {
    width: 100%;

    @media screen and (max-width: #{$break-med-min - 1px}) {
        order: -1;
    }

    @media screen and (min-width: $break-med-min) {
        margin-left: 2em;
        margin-right: 2em;
        width: 50%;
    }

    @media screen and (min-width: $break-large-min) {
        margin-left: 3em;
        margin-right: 3em;
    }
}

.commercial-item__overline {
    font-size: .875rem;
    letter-spacing: .1em;
    text-transform: capitalize;
}

.commercial-item__title {
    font-weight: 700;
}

/* ===================================================
    COMMERCIAL PROJECT PAGE
=================================================== */

.article {
    font-size: 1.25em;
    padding-bottom: 3rem;

    h2,
    h3 {
        margin-top: 2em;
    }

    p, ul, ol {
        line-height: 1.68;
        margin-bottom: 1.5em;
        color: $black-text;
    }
}

.text-col {
    @extend .main-col;

    max-width: 68ch;
}

figcaption,
.caption {
    max-width: 68ch;
    font-size: 1rem;
    color: $gray-text;

    p,
    ul,
    ol {
        font-size: 1rem;
        color: $gray-text;
    }
}

.proj-spotlight {
    background-color: $gray-background;
    padding-top: 3rem; 
    padding-bottom: 3rem;

    @media screen and (min-width: $break-med-min) {
        padding-top: 5rem;
        padding-bottom: 5rem;
    }
}

.aside-header {
    h2, h3, h4 {
        margin-top: 0;
    }
}

.before-after-container {
    text-align: center; 
    padding-left: 16px; 
    padding-right: 16px
}

.before-label,
.after-label {
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 700;

    i.fa {
        margin-right: .5rem;
    }
}

.before-label {
    color: $gray-text;
}

.after-label {
    color: green;
}




