/* ===================================================
    VARIABLES
=================================================== */

$header-height: 73px;
$small-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.16), 0 2px 5px 0 rgba(0,0,0,0.12);
$tangerine: hsl(28, 100%, 52%);
$light-tangerine: #FFE9D6;
$teal: #00CAE0;
$break-xsmall-max: 374px;
$break-small-min: 375px;
$break-small-max: 600px;
$break-med-min: 601px;
$break-med-max: 1000px;
$break-large-min: 1000px;
$fast-transition: 0.15s ease;
$slow-transition: 0.30s ease;

/* ===================================================
	GENERAL
=================================================== */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
}

figure {
    padding: 0;
    margin: 0;
}

h1 {
    font-family: "Lora", serif;
    font-size: 40px;  
    font-weight: 700;
    padding: 0;
    margin-top: 0;
    margin-bottom: 1.5rem;
    color: silver;
    line-height: 1.25;

    @media screen and (min-width: $break-med-min) {
        font-size: 60px;
        margin-bottom: 3rem;
    }
}

h2 {
    font-family: "Lora", sans-serif;
    font-size: 30px;
    font-weight: 400;
    margin-top: 0;
    color: black;
}

h3 {
    font-family: "Lora", sans-serif;
    margin-top: 0;
    color: black;
}

p {
    font-size: 16px;
    line-height: 1.5em;
    color: gray;
}

.big {
    font-size: 24px;
}

a {
	-webkit-transition: $fast-transition;
    -o-transition: $fast-transition;
    transition: $fast-transition;
}

a:hover {
    text-decoration: underline;
    cursor: pointer;
}

#explore,
.learn-more {
    text-decoration: none;
    text-transform: uppercase; 
    text-decoration: none;
    padding: 0.5em 1em;
    border-radius: 3px;

    &:hover {
        text-decoration: none;
        cursor: pointer;

        .lg-right-arrow {
            padding-left: 20px;
        }
    }
}

.learn-more {
    display: inline-block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    background-color: $tangerine;
    color: white;
    border: 2px solid $tangerine;

    &:hover {
        background-color: white;
        color: $tangerine;
        border: 2px solid $tangerine;
    }
}

hr {
    margin-top: 0;
    margin-bottom: 0;
}

hr.dash {
     width: 50px; 
     border: 0; 
     border-bottom: 2px solid $tangerine;
     padding: 0;
     margin-bottom: 1.5em;
     display: block;
     margin-left: 0;
}

.wrapper {
    position: absolute;
    top: $header-height;
    width: 100%;
}

#footer {
    min-height: 100px;
}

/* ===================================================
    HOME PAGE COLLAGE
=================================================== */

.collage-container {
    width: 100%;
    background-color: $tangerine;
    position: relative;
    height: calc(100vh - #{$header-height});
}

.collage-figure {
    display: none;
    width: 100%;
    max-width: 1000px;
    height: auto;
    position: absolute;
    top: 40%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding: 2em;
    margin: 0;

    @media screen and (min-width: $break-med-min) {
        top: 45%;
    }
}

@-webkit-keyframes shake {
    10%,
    90% {
        -webkit-transform: translate3d(-1px, -1px, 0);
        transform: translate3d(-1px, -1px, 0);
    }

    20%,
    80% {
        -webkit-transform: translate3d(2px, 0, 1px);
        transform: translate3d(2px, 0, 1px);
    }

    30%,
    50%,
    70% {
        -webkit-transform: translate3d(-1px, 1px, 0);
        transform: translate3d(-1px, 1px, 0);
    }

    40%,
    60% {
        -webkit-transform: translate3d(1px, 0, -1px);
        transform: translate3d(1px, 0, -1px);
    }
}

@keyframes shake {
    10%,
    90% {
        -webkit-transform: translate3d(-1px, -1px, 0);
        -moz-transform: translate3d(-1px, -1px, 0);
        transform: translate3d(-1px, -1px, 0);
    }

    20%,
    80% {
        -webkit-transform: translate3d(2px, 0, 1px);
        -moz-transform: translate3d(2px, 0, 1px);
        transform: translate3d(2px, 0, 1px);
    }

    30%,
    50%,
    70% {
        -webkit-transform: translate3d(-1px, 1px, 0);
        -moz-transform: translate3d(-1px, 1px, 0);
        transform: translate3d(-1px, 1px, 0);
    }

    40%,
    60% {
        -webkit-transform: translate3d(1px, 0, -1px);
        -moz-transform: translate3d(1px, 0, -1px);
        transform: translate3d(1px, 0, -1px);
    }
}

$tagline-rollin-delay: 7.65s;
$plus-duration: 1.25s;
$plus-delay1: $tagline-rollin-delay + 1.25s;
$plus-delay2: $plus-delay1 + $plus-duration;
$plus-delay3: $plus-delay2 + $plus-duration;
// $plus-delay4: $plus-delay3 + $plus-duration;
// $plus-delay5: $plus-delay4 + $plus-duration;
$tagline-rollout-delay: $plus-delay3 + $plus-duration;
// $explore-rollin-delay: $tagline-rollout-delay;
$explore-rollin-delay: 9s;

.tagline-container {
    position: absolute;
    left: 20%;
    bottom: 10vh;
    min-width: 200px;

    h1, h2 {
        margin: 0;
        padding: 0;
        color: white;
        font-size: 46px;
    }

    .design-plus {
        font-family: "Lora", serif;
        position: relative;
        top: 0;
        display: inline-block;
        -webkit-animation: 
            roll-in 0.5s ease $tagline-rollin-delay both, 
            roll-out 0.5s ease $tagline-rollout-delay forwards;
        animation: 
            roll-in 0.5s ease $tagline-rollin-delay both, 
            roll-out 0.5s ease $tagline-rollout-delay forwards;
    }
    
    .plus-container {
        position: relative;
        top: 0;
        display: inline-block;
        &:after {
            content: '\00a0';
        }
    }
}

.plus-storytelling,
.plus-art,
.plus-research,
.plus-strategy,
.plus-development {
    position: absolute;
    top: 0;
    left: 0;
    -webkit-animation: roll-in-out $plus-duration ease both;
    animation: roll-in-out $plus-duration ease both;
}

.plus-storytelling, {
    animation-delay: $plus-delay2;
    &:after {
        content: 'Storytelling';
    }
}

.plus-art {
    animation-delay: $plus-delay3;
    &:after {
        content: 'Art';
    }
}

.plus-research, {
    animation-delay: $plus-delay1;
    &:after {
        content: 'Research';
    }
}

.plus-strategy {
    animation-delay: $plus-delay3;
    &:after {
        content: 'Strategy';
    }
}

.plus-development {
    animation-delay: $plus-delay3;
    &:after {
        content: 'Development';
    }
}

#explore {
    opacity: 0;
    position: absolute;
    bottom: 15%;
    left: 50%;
    color: white;
    background-color: transparent;
    border: 2px solid white;
    -webkit-animation: explore-roll-in 0.5s ease $explore-rollin-delay forwards;
    animation: explore-roll-in 0.5s ease $explore-rollin-delay forwards;

    &:hover {
        color: $tangerine;
        background-color: white;
    }

    @media screen and (min-width: $break-med-min) {
        bottom: 10%;
    }
}

@keyframes roll-in-out {
    0% { 
        -webkit-transform: translateY(50px);
        -ms-transform: translateY(50px);
        transform: translateY(50px); 
        opacity: 0; 
    }
    20% { 
        -webkit-transform: translateY(0); 
        -ms-transform: translateY(0); 
        transform: translateY(0); 
        opacity: 1; 
    }
    80% { 
        -webkit-transform: translateY(0); 
        -ms-transform: translateY(0); 
        transform: translateY(0); 
        opacity: 1; 
    }
    100% { 
        -webkit-transform: translateY(-50px); 
        -ms-transform: translateY(-50px); 
        transform: translateY(-50px); 
        opacity: 0; 
    }
}

@keyframes roll-in {
    0% { 
        -webkit-transform: translateY(50px); 
        -ms-transform: translateY(50px); 
        transform: translateY(50px); 
        opacity: 0; 
    }
    100% { 
        -webkit-transform: translateY(0); 
        -ms-transform: translateY(0); 
        transform: translateY(0); 
        opacity: 1; 
    }
}

@-webkit-keyframes explore-roll-in {
    0% { 
        -webkit-transform: translate(-50%, 50px); 
        -ms-transform: translate(-50%, 50px); 
        transform: translate(-50%, 50px); 
        opacity: 0; 
    }
    100% { 
        -webkit-transform: translate(-50%, 0); 
        -ms-transform: translate(-50%, 0); 
        transform: translate(-50%, 0); 
        opacity: 1; 
    }
}

@keyframes explore-roll-in {
    0% { 
        -webkit-transform: translate(-50%, 50px); 
        -ms-transform: translate(-50%, 50px); 
        transform: translate(-50%, 50px); 
        opacity: 0; 
    }
    100% { 
        -webkit-transform: translate(-50%, 0); 
        -ms-transform: translate(-50%, 0); 
        transform: translate(-50%, 0); 
        opacity: 1; 
    }
}

@keyframes roll-out {
    0% { 
        -webkit-transform: translateY(0); 
        -ms-transform: translateY(0); 
        transform: translateY(0); 
        opacity: 1; 
    }
    100% { 
        -webkit-transform: translateY(-50px); 
        -ms-transform: translateY(-50px); 
        transform: translateY(-50px); 
        opacity: 0; 
    }
}

/* ===================================================
    HEADER & MAIN NAVIGATION
=================================================== */

#main-header {
    position: fixed;
    z-index: 100; 
    width: 100%;
    padding: 0 1.5rem;
    margin: 0;
    background-color: white;
    border-bottom: 1px solid gainsboro;
    line-height: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    
    @media screen and (min-width: $break-med-min) {
        padding: 0 2rem;
    }
}

#identity {
    // padding: 16px 0;
    padding: 26px 0;
    vertical-align: top;
    font-family: Lato, sans-serif;

    // @media screen and (min-width: $break-med-min) {
    //     padding: 26px 0;
    // }
}

#identity .identity-title {
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 2px;
    color: black;
    font-weight: 700;
    text-decoration: none;
}

#identity .identity-subtitle {
    font-size: 14px;
    letter-spacing: 1px;
    color: silver;
    margin-left: 5px;

    @media screen and (min-width: $break-med-min) {
        display: inline;
        margin-left: 10px;
    }
}

.menu-btn {
    padding-top: 16px 0;
    margin: 0;

    @media screen and (min-width: $break-med-min) {
        display: none;
    }
}

#main-nav {
    display: inline-block;
    margin: 0;
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
    width: auto;

    @media screen and (max-width: $break-small-max) {
        display: none;
        -webkit-box-shadow: $small-box-shadow;
        box-shadow: $small-box-shadow;
        background-color: $tangerine;
        position: absolute;
        top: $header-height;
        right: 0;
        width: 100%;
        text-align: center;
        z-index: 100;
    }
}

#main-nav a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 24px;
    margin: 0;
    text-transform: uppercase;
    border-bottom: 1px solid rgba(255,255,255,0.5);

    &:last-of-type {
        border-bottom: none;
    }

    @media screen and (min-width: $break-med-min) {
        display: inline-block;
        padding: 24px 1em;
        // margin: 16px 8px;
        border-top: 2px solid transparent;
        border-bottom: none;
        color: black;
        text-transform: none;
    }

    &:hover {
        @media screen and (min-width: $break-med-min) {
            color: $tangerine;
        }
    }
    
    &.active {
        color: white;

        @media screen and (min-width: $break-med-min) {
            color: $tangerine;
            border-top: 2px solid $tangerine;
        }
    }
}

/* ===================================================
    PORTFOLIO GALLERY
=================================================== */

#portfolio {
    padding: 40px 0;
    min-height: 100vh;
}

/* ---- isotope ---- */

button {
    outline: none;
}

.button {
    display: inline-block;
    padding: 10px 18px;
    margin-bottom: 10px;
    background: #F0F0F0;
    border: none;
    border-radius: 7px;
    color: #666;
    cursor: pointer;
}

.button:hover {
    background-color: gainsboro;
    color: #222;
}

.button:active,
.button.is-checked {
    background-color: $tangerine;
    color: white;
}

.button-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    margin: 2em 2em;

    @media screen and (max-width: $break-small-max) {
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin: 2em 1em;
    }
}

.button-group:after {
    content: '';
    display: block;
    clear: both;
}

.button-group .button {
    float: left;
    border-radius: 0.5em;
    margin-left: 0;
    margin-right: 2px;

    @media screen and (min-width: $break-med-min) {
        border-radius: 0;
    }
}

.button-group .button:first-child {
    @media screen and (min-width: $break-med-min) {
        border-radius: 0.5em 0 0 0.5em;
    }
}

.button-group .button:last-child {
    @media screen and (min-width: $break-med-min) {
        border-radius: 0 0.5em 0.5em 0;
    }
}

/* clear fix */

.grid:after {
    content: '';
    display: block;
    clear: both;
}

.grid-sizer,
.grid-item {
    @media screen and (max-width: $break-small-max) {
        width: -webkit-calc(50% - 6px);
        width: expression(50% - 6px);
        width: -moz-calc(50% - 6px);
        width: -o-calc(50% - 6px);
        width: calc(50% - 6px);
    }

    @media screen and (min-width: $break-med-min) and (max-width: $break-med-max) {
        width: -webkit-calc(25% - 6px);
        width: expression(25% - 6px);
        width: -moz-calc(25% - 6px);
        width: -o-calc(25% - 6px);
        width: calc(25% - 6px);
    }

    @media screen and (min-width: $break-large-min) {
        width: -webkit-calc(20% - 6px);
        width: expression(20% - 6px);
        width: -moz-calc(20% - 6px);
        width: -o-calc(20% - 6px);
        width: calc(20% - 6px);
    }
}

.grid-item {
    overflow: hidden;
    position: relative;
    margin-bottom: 6px;

    figure {
        width: 100%;
        padding-top: 100%;
        margin: 0;
        position: relative;
    }

    img {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        object-fit: cover;
        -webkit-filter: grayscale(1);
        filter: grayscale(1);
        max-width: none;
        max-height: 100%;
        width: -webkit-calc(100% + 20px);
        width: expression(100% + 20px);
        width: -moz-calc(100% + 20px);
        width: -o-calc(100% + 20px);
        width: calc(100% + 20px);
        height: 100%;
        // -webkit-transform: scale(1.15, 1.15);
        // -ms-transform: scale(1.15, 1.15);
        // transform: scale(1.15, 1.15);

        -webkit-transition: opacity $fast-transition, -webkit-filter $fast-transition, -webkit-transform 6s ease;        
        transition: opacity $fast-transition, -webkit-filter $fast-transition, -webkit-transform 6s ease;        
        -o-transition: opacity $fast-transition, filter $fast-transition, transform 6s ease;        
        transition: opacity $fast-transition, filter $fast-transition, transform 6s ease;        
        transition: opacity $fast-transition, filter $fast-transition, transform 6s ease, -webkit-transform 6s ease, -webkit-filter 0.5s;

    }

    figcaption {
        position: absolute;
        width: 100%;
        height: auto;
        left: 0;
        bottom: 0;
        padding: 1.5em;
        opacity: 0;
        -webkit-transition: -webkit-transform $slow-transition;        
        transition: -webkit-transform $slow-transition;        
        -o-transition: transform $slow-transition;        
        transition: transform $slow-transition;        
        transition: transform $slow-transition, -webkit-transform $slow-transition;
    }

    h2 {
        font-size: 18px;
        font-family: 'Lato', sans-serif;
        color: white;
        padding: 0;
        margin-bottom: 4px;
    }

    p {
        margin: 0;
        padding: 0;
        font-family: 'Lato', sans-serif;
        font-weight: 300;
        font-size: 1em;
        text-transform: lowercase;
        color: rgba(255, 255, 255, 0.85);
        -webkit-transform: translate3d(0, 30px, 0);
        transform: translate3d(0, 30px, 0);
        -webkit-transition: -webkit-transform $slow-transition;        
        transition: -webkit-transform $slow-transition;        
        -o-transition: transform $slow-transition;        
        transition: transform $slow-transition;        
        transition: transform $slow-transition, -webkit-transform $slow-transition;
    }

}

.grid-item.active,
.grid-item:hover {
    img {
        opacity: 1;
        -webkit-filter: none;
        filter: none;
        // -webkit-transform: translate3d(0, 0, 0) scale(1, 1);
        // transform: translate3d(0, 0, 0) scale(1, 1);
    }

    figcaption {
        opacity: 1;
        background-color: rgba(0, 0, 0, 0.5);
        -webkit-transform: translate3d(0, -30px, 0);
        transform: translate3d(0, -30px, 0);
    }

    p {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.grid-item--width2,
.grid-item.grid-item--width2 {
    @media screen and (max-width: $break-med-max) {
        width: -webkit-calc(50% - 6px);
        width: expression(50% - 6px);
        width: -moz-calc(50% - 6px);
        width: -o-calc(50% - 6px);
        width: calc(50% - 6px);
    }

    @media screen and (min-width: $break-large-min) {
        width: -webkit-calc(40% - 6px);
        width: expression(40% - 6px);
        width: -moz-calc(40% - 6px);
        width: -o-calc(40% - 6px);
        width: calc(40% - 6px);
    }

    figure {
        @media screen and (min-width: $break-med-min) {
            padding-top: -webkit-calc(50% - 3px)!important;
            padding-top: expression(50% - 3px)!important;
            padding-top: -moz-calc(50% - 3px)!important;
            padding-top: -o-calc(50% - 3px)!important;
            padding-top: calc(50% - 3px)!important;
        }
    }
}

.grid-sizer-small,
.grid-item-small {
    width: -webkit-calc(16.666% - 6px);
    width: expression(16.666% - 6px);
    width: -moz-calc(16.666% - 6px);
    width: -o-calc(16.666% - 6px);
    width: calc(16.666% - 6px);
}

.gutter-sizer {
    width: 6px;
}

.grid-item-small {
    overflow: hidden;
    position: relative;
    margin-bottom: 6px;
    
    figcaption {
        padding: 1em;
    }

    h2 {
        font-size: 16px;
        font-weight: 700;
        line-height: 1.25em;
        margin-bottom: 0.5em;
    }

    p {
        font-size: 0.9em;
        font-weight: 400;
        line-height: 1.25em;
    }
}

.grid-item-small.active,
.grid-item-small:hover {
    figcaption {
        opacity: 1;
        background-color: rgba(0, 0, 0, 0.5);
        -webkit-transform: translate3d(0, -10px, 0);
        transform: translate3d(0, -10px, 0);
    }
}

/* ===================================================
    PROJECT DETAILS
=================================================== */

.centered-container {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;

    @media screen and (min-width: $break-med-min) {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

.proj-container {
    @extend .centered-container;
    padding-top: 3rem;

    @media screen and (min-width: $break-med-min) {
        padding-top: 4rem;
    }
    
    &:before,
    &:after {
        content:"";
        display:table;
        clear:both
    }
}

.proj-content {
    margin-bottom: 4rem;

    @media screen and (min-width: $break-med-min) {
         margin-bottom: 6rem;
    }

    @media screen and (min-width: $break-large-min) {
         margin-bottom: 8rem;
    }
}

.proj-description {
    width: 100%;
    margin-bottom: 1em;
    float: left;

    @media screen and (min-width: $break-med-min) and (max-width: $break-med-max) {
        width: 50%;
        min-width: 300px;
        margin-bottom: 2em;
    }

    @media screen and (min-width: $break-large-min) {
        width: 25%;
        min-width: 250px;
        max-width: 300px;
        padding-right: 2em;
    }
}

.proj-imgs {
    overflow: hidden;

    @media screen and (max-width: $break-med-max) {
        width: 100%;
    }
}

.proj-grid,
.photo-gallery {
	display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.proj-grid a,
.web-figure {
    padding: 3px;
    margin: 0;
    width: 100%;

    &.full {
        display: block;
        width: 100%;
    }

    &.buffer-bottom {
        margin-bottom: 2em;
    }

    &.buffer-bottom-collapsible {
        margin-bottom: 2em;
        
        @media screen and (max-width: $break-small-max) {
            margin-bottom: 0;
        }
    }

    &.half {
        width: 50%;

        @media screen and (max-width: $break-small-max) {
            width: 100%;
        }
    }

    &.third {
        width: 33.333333%;

        @media screen and (max-width: $break-small-max) {
            width: 100%;
        }

        @media screen and (min-width: $break-med-min) and (max-width: 900px) {
            width: 50%;
        }
    }
}

.proj-section {
    margin-bottom: 2rem;

    // @media screen and (min-width: $break-med-min) {
    //     margin-bottom: 3rem;
    // }
}

.no-buffer {
    padding: 0;
    margin: 0;
}

.proj-grid img,
.photo-gallery img {
    width: 100%;
    height: auto;
}

.photo-gallery img {
    transform: -webkit-translate3d(1.1, 0, 0);
    transform: translate3d(1.1, 0, 0);
    -webkit-transition: $slow-transition;    
    -o-transition: $slow-transition;    
    transition: $slow-transition;
}

.photo-gallery img:hover {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.photo-gallery a {
    padding: 5px;
    margin: 0;
    width: 25%;
}

.lg-outer .lg-thumb-item {
    border-color: rgb(50, 50, 50);
    border-radius: 0;
}

.lg-outer .lg-thumb-item.active, .lg-outer .lg-thumb-item:hover {
    border-color: white;
}

.lg-padding {
    .lg-image {
        padding-top: 50px;
        padding-bottom: 50px;
    }
}

/* ===================================================
    PHOTO SLIDER
=================================================== */

.lSSlideOuter .lSPager.lSGallery li {
    border: 2px solid transparent;
}

.lSSlideOuter .lSPager.lSGallery li.active, 
.lSSlideOuter .lSPager.lSGallery li:hover {
    border: 2px solid gray;
    border-radius: 0;
}

.lSAction > a {
    background-image: none;
    width: 36px;
    opacity: 0.35;
}

.lSAction > a:hover {
    opacity: 0.75;
    -webkit-transition: $fast-transition;
    -o-transition: $fast-transition;
    transition: $fast-transition;
}

.lSAction > .lSPrev {
    left: 0;
}

.lSAction > .lSNext {
    right: 0;
}

.photo-control {
    color: white;
    text-decoration: none; 
    padding: 20px;
    background-color: black;
    // background-color: rgba(0,0,0,0.2);
    display: block;
    width: 100%;
    text-align: center;
    font-size: 22px;
    padding-left: 0!important;
    padding-right: 0!important;
    transition: $fast-transition;
}

// .photo-control:hover {
//     background-color: rgba(0,0,0,0.5);
// }

/* ===================================================
    VIDEO
=================================================== */

.video-container {
    position: relative;
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

.video-wrapper {
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 */
    padding-top: 25px;
}

.video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/* ===================================================
    WEB SCROLL
=================================================== */

.web-figure {
    margin: 0;

    img {
        width: 100%;
    }
}

.border {
    border: 1px solid gainsboro;

    img {
        margin-bottom: -7px;
    }
}

.web-scroll {
    position: relative;
    padding: 0;
    margin: 0;
    margin-bottom: 2em;
    width: 100%;

    @media screen and (min-width: $break-med-min) {
        padding-top: 56.25%;
        overflow-y: scroll;
        // margin-bottom: 3em;
        border: 2px solid gainsboro;

        img {
            position: absolute; 
            top: 0; 
            left: 0; 
            width: 100%;
        }

        &:last-of-type {
            margin-bottom: 0;
        }
    }

    &:hover .web-scroll-instructions {
        opacity: 0;
        -webkit-transition: all 0.15s ease 0.75s;        
        -o-transition: all 0.15s ease 0.75s;        
        transition: all 0.15s ease 0.75s;
    }

    &:last-of-type {
        margin-bottom: 0;
    }
}

.web-scroll-instructions {
    @media screen and (min-width: $break-med-min) {
        display: inline-block;
        position: absolute; 
        bottom: 10px; 
        right: 10px; 
        text-align: center;
        border-radius: 3px;
        background-color: rgba(0, 0, 0, 0.5); 
        padding: 1em; 
        color: white; 
        font-size: 0.75em; 
        -webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.16), 0 2px 5px 0 rgba(0,0,0,0.12);        
        box-shadow: 0 1px 2px 0 rgba(0,0,0,0.16), 0 2px 5px 0 rgba(0,0,0,0.12); 
    }
}

/* ===================================================
    BOOKS
=================================================== */

.book {

    margin-bottom: 2em;

    @media screen and (min-width: $break-med-min) {
         display: -webkit-box;         
         display: -ms-flexbox;         
         display: flex;
    }

    .thumbnail-container {
        width: 100%;

        img {
            width: 100%;
            margin-bottom: 1em;
        }

        @media screen and (min-width: $break-med-min) {
             width: 40%;
        }
    }
    figcaption {
        width: 100%;

        @media screen and (min-width: $break-med-min) {
             margin-left: 2em;
             margin-right: 2em;
             width: 60%;
        }
    }
}

.book-slider {
    width: 800px;
}

.cS-hidden {
    height: 1px;
    opacity: 0;
    filter: alpha(opacity=0);
    overflow: hidden;
}

/* ===================================================
    PROJECT NAVIGATION SLIDER
=================================================== */

.more-projects {
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    text-transform: uppercase; 
    color: silver;
    margin-bottom: 1rem; 

    @media screen and (max-width: $break-small-max) {
        display: none;
    }

    @media screen and (min-width: $break-med-min) {
        margin-bottom: 2rem; 
    }
}

.prev-next-container {
    @extend .centered-container;
    width: 100%; 
    position: relative;
    margin-bottom: 5rem;
    background-color: transparent;
    
    &:before,
    &:after {
        content: "";
        display: table;
        clear: both;
    }

    @media screen and (max-width: $break-small-max) {
        padding: 2.5rem 1.5rem;
        margin: 0;
        background-color: $tangerine;
    }
}

.proj-controls {
    position: relative;
    width: 100%;
    display: -webkit-box;         
    display: -ms-flexbox;         
    display: flex;
    -webkit-box-pack: space-between;
    -ms-flex-pack: space-between;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    @media screen and (min-width: $break-med-min) {
        margin-bottom: 1.5rem;
    }
}

.prev-project,
.next-project {
    text-decoration: none;
    display: inline-block;
    line-height: 1.5em;
    color: black;

    &:hover {
        color: $tangerine;
        text-decoration: none;
    }

}

.prev-project {
    text-align: left;

    @media screen and (max-width: $break-small-max) {
        display: none;
    }
}

.next-project {
    text-align: right;

    @media screen and (max-width: $break-small-max) {
        width: 100%;
        text-align: center;
        color: white;
        text-transform: uppercase;
        font-size: 13px;

        &:hover {
            color: white;
            text-decoration: none;
            cursor: pointer;

            .lg-right-arrow {
                padding-left: 20px;
            }
        }
    }

    hr.dash {
        border-bottom: 1px solid $light-tangerine;
        margin: 1.5em auto;

        @media screen and (min-width: $break-med-min) {
            display: none;
        }
    }

    .proj-title {
        font-size: 20px;
        color: $light-tangerine;
        text-transform: none;

        @media screen and (min-width: $break-med-min) {
            display: none;
        }
    }
}

.lg-left-arrow,
.lg-right-arrow {
    font-family: 'lg';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-decoration: none;
    -webkit-transition: padding $fast-transition;    
    -o-transition: padding $fast-transition;    
    transition: padding $fast-transition;
}

.lg-left-arrow:before {
    content: "\e094";
    padding-right: 0.5em;
}

.photo-control.lg-left-arrow:before {
    padding-right: 0;
}

.lg-right-arrow:before {
    content: "\e095";
    padding-left: 0.5em;
}

.photo-control.lg-right-arrow:before {
    padding-left: 0;
}

.proj-slider-container {
    position: relative;
    padding: 0 40px;
    overflow: hidden;

    @media screen and (max-width: $break-small-max) {
        display: none;
    }

    @media screen and (max-width: $break-med-max) {
        width: 100%;
    }
    
    .lSAction>a {
        top: 37px!important;
    }
}

.slideControls{
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    i {
        font-size: 30px;
        color: white;
    }

    .slideNext,
    .slidePrev {
        background-color: rgba(0,0,0,0.2);
        position: absolute;
        top: 0;
        bottom: 0;
        padding: 0 12px;
        cursor: pointer;
        display: -webkit-box;         
        display: -ms-flexbox;         
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        transition: $fast-transition;
        text-decoration: none;
        font-size: 28px;
        color: white;

        &:hover {
            background-color: rgba(0,0,0,0.5);
            text-decoration: none;
        }
    }

    .slidePrev {
        left: 0;

        // &:after {
        //     content: "\00276E";
        // }
    }

    .slideNext {
        right: 0;

        // &:after {
            // content: "\00276F";
        // }
    }

}

/* ===================================================
    CONTACT PAGE
=================================================== */

.contact-container {
    width: 100%;
    background-color: #ff7c0a;
    position: relative;
    display: -webkit-box;         
    display: -ms-flexbox;         
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: calc(100vh - #{$header-height});
}

.contact-content {
    width: 100%; 
    max-width: 1100px;
    padding: 0 1rem;
    margin: 0 auto;
    display: -webkit-box; 
    display: -ms-flexbox; 
    display: flex; 
    -webkit-box-align: start; 
    -ms-flex-align: start; 
    align-items: flex-start; 
    -webkit-box-pack: center; 
    -ms-flex-pack: center; 
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; 

    @media screen and (max-width: $break-small-max) {
        -webkit-box-orient: vertical;        
        -webkit-box-direction: normal;        
        -ms-flex-direction: column;        
        flex-direction: column;
    }

    @media screen and (min-width: $break-med-min) {
        -webkit-box-orient: horizontal;        
        -webkit-box-direction: normal;        
        -ms-flex-direction: row;        
        flex-direction: row;
        padding: 0 2rem;
    }

    h1 {
        width: 100%; 
        color: white; 
        text-align: center; 

        @media screen and (min-width: $break-med-min) {
            width: 50%; 
            padding-right: 2rem;
        }

        @media screen and (min-width: $break-med-min) and (max-width: $break-med-max) {
            font-size: 50px;
        }
    }
    
    .about { 

        @media screen and (max-width: $break-small-max) {
            width: 100%;
            max-width: 600px; 
            margin: 0 auto;
        }

        @media screen and (min-width: $break-med-min) {
            width: 50%; 
            // padding-left: 2rem;
            // padding-right: 2rem;
        }
    }

    p {
         color: $light-tangerine;
    }

    .contact-info {
        color: white; 
        font-size: 20px;

        @media screen and (max-width: $break-small-max) {
            text-align: center;
        }

        a {
            text-decoration: none;
        }
    }
}




