---
layout: "project"
---

<div class="proj-description">
	<hr class="dash">
	{{ content }}
</div>

<div class="proj-imgs">

	<!-- for projects with a video -->
	{% if page.video-sequence %}
		<section class="video-container {% if page.img-sequence or page.web-sequence %}proj-section{% endif %}">
			<div class="video-wrapper">
				<iframe width="560" height="315" src="{{ page.video-sequence }}" frameborder="0" allowfullscreen>
				</iframe>
			</div>
		</section>
	{% endif %}

	<!-- for projects with web sequence -->
	{% if page.web-sequence %}
		<section class="{% if page.img-sequence %}proj-section{% endif %}">

			{% for image in page.web-sequence %}

				<!-- assign sizes for image -->
				{% assign sizes = "(min-width: 1000px) 849px, calc(100vw-4rem)" %}

				<!-- assign alt -->
				{% if image.alt %}
					{% assign alt = image.alt %}
				{% else %}
					{% assign alt = page.title %}
				{% endif %}

				<figure class="web-figure {% if image.class %}{{ image.class }}{% endif %}">
					{% if image.href %}<a href="{{ image.href }}" target="_blank">{% endif %}
						<img {% if image.srcset %}srcset="{{ image.srcset }}"{% endif %} sizes="{{ sizes }}" src="{% if image.src %}{{ image.src }}{% else %}{{ image }}{% endif %}" alt="{{ alt }}" />
					{% if image.href %}</a>{% endif %}
					<!-- {% if image.class == "web-scroll" %}
						<div class="web-scroll-instructions"><div style="margin-bottom: 0.5em">Scroll image to see more</div><div>&#9586;&#9585;</div></div>
					{% endif %} -->
				</figure>
			{% endfor %}
		
		</section>

	{% endif %}

	<!-- for projects with image sequences -->
	{% if page.img-sequence %}

		<section id="lightgallery" class="proj-grid">
			{% for image in page.img-sequence %}

				<!-- assign sizes for lightbox image -->
				{% assign sizes = "(min-width: 1349px) 1349px, 100vw" %}

				<!-- assign srcset for thumbnail image -->
				{% if image.thumb-srcset %}
					{% assign thumb-srcset = image.thumb-srcset %}
				{% else if image.srcset %}
					{% assign thumb-srcset = image.srcset %}
				{% endif %}

				<!-- assign sizes for thumbnail image -->
				{% if thumb-srcset %}
					{% if image.class == "third" %}
						{% assign thumb-sizes = "(min-width: 1000px) 278px, calc(100vw-4rem)" %}
					{% elsif image.class == "half" %}
						{% assign thumb-sizes = "(min-width: 1000px) 422px, (min-width: 601px) calc(50vw-2rem), calc(100vw-4rem)" %}
					{% else %}
						{% assign thumb-sizes = "(min-width: 1000px) 849px, calc(100vw-4rem)" %}
					{% endif %}
				{% endif %}

				<!-- assign alt -->
				{% if image.alt %}
					{% assign alt = image.alt %}
				{% else %}
					{% assign alt = page.title %}
				{% endif %}

		    <a class="{% if image.class %}{{ image.class }}{% endif %}" {% if image.srcset %}data-srcset="{{ image.srcset }}"{% endif %} data-sizes="{{ sizes }}" data-src="{% if image.src %}{{ image.src }}{% else %}{{ image }}{% endif %}" alt="{{ alt }}">
		      	<img {% if thumb-srcset %}srcset="{{ thumb-srcset }}"{% endif %} sizes="{{ thumb-sizes }}" src="{% if image.src %}{{ image.src }}{% else %}{{ image }}{% endif %}" alt="{{ alt }}" />
			</a>
			{% endfor %}
		</section>
	{% endif %}

</div>

<script type="text/javascript">
    $(document).ready(function() {
        $("#lightgallery").lightGallery({
            download: false,
            showThumbByDefault: false,
            getCaptionFromTitleOrAlt: false,
            addClass: "lg-padding"
        });
    });
</script>
